$font-sans: var(--font-sans), sans-serif;
$font-serif: var(--font-serif), serif;

.landing {
  position: relative;
  z-index: 1;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  .text {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    margin-top: 150px;
    padding-top: 6vh;
    height: 50vh;
    h1 {
      font-family: $font-sans;
      font-size: clamp(3.5rem, 9vw, 9rem);
      text-align: center;
      line-height: .8;
      text-transform: uppercase;
      color: #383838;
      font-weight: 500;
      span {
        font-family: $font-serif;
        line-height: 1.2;
        letter-spacing: -0.03em;
      }
    }
  }
  .videoWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 0;
    overflow: hidden;
    margin-top: -70px;
    video {
      position: absolute;
      top: -10%;
      will-change: transform;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}