* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #f1623a;
  color: #ffffff;
}

::-moz-selection {
  background-color: #f1623a;
  color: #ffffff;
}